# Pandas

Pandas es una herramienta muy útil para manejar y analizar datos. Nos permite trabajar con tablas y nos permite hacer cosas similares a cuando trabajamos en excel, pero con código en lugar de manualmente en una hoja de cálculo. Se trata de un paquete diseñado para manejar, limpiar y analizar datos de una forma tanto intuitiva como poderosa.

Las principales ventajas de usar Pandas son:

- Manejo de datos estructurados: Pandas proporciona una forma tabular de almacenar y trabajar con los datos, muy similar a las hojas de cálculo.
- Flexibilidad: Los dataframes pueden manejar datos de distintos tipos, incluyendo texto, fecha o numerico.
- Facilidad para importar y exportar datos: Pandas puede leer datos de distintos tipos de formatos como csv, excel, SQL, JSON...Tambien se pueden escribir los datos de vuelta en esos mismos formatos.
- Tratamiento de datos: Pandas proporciona funciones para manejar datos faltantes, borrar duplicados y procesar los datos en general.
- Uso de la memoria eficiente: Pandas está diseñado para optimizar el uso de la memoria, por lo que puede trabajar con grandes conjuntos de datos.

Los principales conceptos que se deben conocer en pandas son:

- Series: Es una columna de datos del dataframe.
- DataFrame: Un DataFrame es una tabla completa.

In [1]:
import pandas as pd
import numpy as np

# Generamos nuestro dataframe desde un diccionario
data_json = {'Nombre': ['Ana', 'Luis', 'Carlos'],
        'Edad': [23, 34, 45],
        'Ciudad': ['Madrid', 'Barcelona', 'Valencia']}
data = pd.DataFrame(data_json)
print(data)


# Leemos los datos desde un csv
data = pd.read_csv("material/data.csv")
data

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    34  Barcelona
2  Carlos    45   Valencia

,order_id,fecha,order_customer_id,product_id,unit_price,quantity,price,product_family,latitude,longitude
0,1016330781887,2023-05-29,6451824076,IAM925P00XXZPUDIA,19.00,8,152.00,Pulsera,37.788617,-3.790215
1,1095376438463,2023-07-16,664062345899,OTS925P00XXZPUDOT,19.00,6,114.00,Pulsera,40.299542,-3.926774
2,1047641588927,2023-06-17,642133246635,UND925P00XXZCOMUN,25.00,5,125.00,Collar,39.651927,-0.411277
3,1181322118257,2023-08-29,714672128644,OTS925A00XXZPUDOT,19.00,4,76.00,Pulsera,39.456511,-0.346203
4,1017492866239,2023-05-30,196440539724,IMO925P00XXZTOMIM,25.00,3,75.00,Tobillera,37.394171,-5.957857
...,...,...,...,...,...,...,...,...,...,...
2995,1194025288817,2023-09-04,719590867588,IST925P00XXZPUSIS,29.95,1,29.95,Pulsera,40.405862,-3.894836
2996,1187671966833,2023-09-01,719629009540,UND925P00XXZCOMUN,25.00,1,25.00,Collar,40.549157,-3.653147
2997,1187874473073,2023-09-01,719731344004,OSE925R00XXZCOMOS,29.00,1,29.00,Collar,43.341313,-2.989285
2998,1187874473073,2023-09-01,719731344004,HDI925R00XXZPEAHD,21.75,1,21.75,Pendientes,43.341313,-2.989285
2999,1187874473073,2023-09-01,719731344004,REE925P00XXZTOFRE,21.75,1,21.75,Tobillera,43.341313,-2.989285

In [2]:
# Informacion del dataframe

print(f"Informacion del dataframe:\n {data.info()}\n")
print(f"Descripcion de las columnas:\n {data.describe()}\n")
print(f"Columnas del datafreme:\n {data.columns}")
print(f"Numero de filas del dataframe:\n {len(data)}")
print(f"Dimension del dataframe:\n {data.shape}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           3000 non-null   int64
 1   fecha              3000 non-null   object
 2   order_customer_id  3000 non-null   int64
 3   product_id         3000 non-null   object
 4   unit_price         3000 non-null   float64
 5   quantity           3000 non-null   int64
 6   price              3000 non-null   float64
 7   product_family     3000 non-null   object
 8   latitude           3000 non-null   float64
 9   longitude          3000 non-null   float64
dtypes: float64(4), int64(3), object(3)
memory usage: 234.5+ KB
Informacion del dataframe:
 None

Descripcion de las columnas:
            order_id  order_customer_id   unit_price     quantity        price  \
count  3.000000e+03       3.000000e+03  3000.000000  3000.000000  3000.000000
mean   9.227223e+11       3.755886e+11    25.796573     1.036333    26.684290
std    2.575805e+11       2.706878e+11     7.930805     0.257621     9.868083
min    4.464132e+11       4.438242e+09    14.250000     1.000000    14.250000
25%    9.282365e+11       1.205172e+11    21.750000     1.000000    22.000000
50%    1.027531e+12       2.638499e+11    25.000000     1.000000    25.000000
75%    1.096261e+12       6.368062e+11    29.000000     1.000000    29.000000
max    1.273557e+12       7.197313e+11   199.000000     8.000000   199.000000

          latitude    longitude
count  3000.000000  3000.000000
mean     40.348276    -2.423113
std       1.750786     2.670874
min      35.293941    -9.245003
25%      39.468724    -3.857053
50%      40.426674    -3.494111
75%      41.431820    -0.385160
max      43.572762     3.079004

Columnas del datafreme:
 Index(['order_id', 'fecha', 'order_customer_id', 'product_id', 'unit_price',
       'quantity', 'price', 'product_family', 'latitude', 'longitude'],
      dtype='object')
Numero de filas del dataframe:
 3000
Dimension del dataframe:
 (3000, 10)

In [3]:
# Ver los productos mas caros
data.sort_values(by=['unit_price'], ascending = [False]).head(10)

,order_id,fecha,order_customer_id,product_id,unit_price,quantity,price,product_family,latitude,longitude
1995,992577586367,2023-05-14,613166727851,LIS750A00XXYCOBLI,199.00,1,199.00,Collar,38.369536,-0.457863
2160,1012895974591,2023-05-27,626415125163,LIS750A00XXYCOBLI,199.00,1,199.00,Collar,41.655617,-0.861574
831,1198957855857,2023-09-06,132932289100,N2N925A00XXYCOIN2,69.95,1,69.95,Collar,43.391748,-5.663667
2449,1071430632639,2023-07-02,653428409003,N2N925A00XXYCOIN2,69.00,1,69.00,Collar,36.715902,-4.432735
2411,1066050192575,2023-06-29,651262116523,N2N925P00XXYCOIN2,65.00,1,65.00,Collar,40.788590,-3.489755
2614,1096302986431,2023-07-17,664454480555,N2N925P00XXYCOIN2,65.00,1,65.00,Collar,39.403242,-0.417103
2447,1071430632639,2023-07-02,653428409003,N2N925P00XXYCOIN2,65.00,1,65.00,Collar,36.715902,-4.432735
850,941829784767,2023-04-27,147043107404,U2N925P00XXYPESU2,65.00,1,65.00,Pendientes,39.184379,-0.385224
2302,1039913059519,2023-06-13,638850450091,N2N925P00XXYCOIN2,65.00,1,65.00,Collar,40.476709,-3.687918
2903,1167133443185,2023-08-23,708357931652,N2N925P00XXYCOIN2,65.00,1,65.00,Collar,42.232788,-8.703578

In [6]:
# Seleccionamos una columna por nombre
print(f'Seleccionamos una columna:\n{data["price"]}\n')

# Seleccionamos varias columnas por nombres
# print(f'Seleccionamos varias columna:\n{data[["price", "product_id"]]}\n')

# Seleccionamos columnas de tipo float
# print(f'Seleccionamos columnas por tipo de dato:\n{data.select_dtypes(include=["float64"])}')

Seleccionamos una columna:
0       152.00
1       114.00
2       125.00
3        76.00
4        75.00
         ...
2995     29.95
2996     25.00
2997     29.00
2998     21.75
2999     21.75
Name: price, Length: 3000, dtype: float64

In [7]:
## Filtrar datos. loc vs iloc

print("\nFiltramos datos por la posicion (indice): \n")
print(data.iloc[0:5])


print("\nFiltramos datos por la etiqueta (columna): \n")
print(data.loc[0:5])

# ¿Cual es la diferencia entre loc e iloc?

# print("\nFiltramos datos por la posicion (indice): \n")
# print(data.iloc[0:5, "order_id"]) #! Esto fallara ya que iloc no puede filtrar por nombre de columna

# print("\nFiltramos datos por la etiqueta (columna): \n")
# print(data.loc[0:5, "order_id"])

# print("\nFiltramos filas por condicion: \n")
# data_quantity_3 = data[data["quantity"] == 3]
# print(data_quantity_3)


# print("\nFiltramos filas por condicion usando loc: \n")
# data_quantity_3 = data.loc[data["quantity"] == 3]
# print(data_quantity_3)


# print("\nFiltramos filas por condicion: \n")
# data.query("quantity == 3")

Filtramos datos por la posicion (indice):

        order_id       fecha  order_customer_id         product_id  \
0  1016330781887  2023-05-29         6451824076  IAM925P00XXZPUDIA
1  1095376438463  2023-07-16       664062345899  OTS925P00XXZPUDOT
2  1047641588927  2023-06-17       642133246635  UND925P00XXZCOMUN
3  1181322118257  2023-08-29       714672128644  OTS925A00XXZPUDOT
4  1017492866239  2023-05-30       196440539724  IMO925P00XXZTOMIM

   unit_price  quantity  price product_family   latitude  longitude  \
0        19.0     153.0  152.0        Pulsera  37.788617  -3.790215
1        19.0     115.0  114.0        Pulsera  40.299542  -3.926774
2        25.0     126.0  125.0         Collar  39.651927  -0.411277
3        19.0      77.0   76.0        Pulsera  39.456511  -0.346203
4        25.0      76.0   75.0      Tobillera  37.394171  -5.957857

   unit_cost   total_cost
0  28.063996  4293.791329
1  36.676974  4217.852045
2  35.345160  4453.490213
3  25.492610  1962.930974
4  26.755547  2033.421597

Filtramos datos por la etiqueta (columna):

        order_id       fecha  order_customer_id         product_id  \
0  1016330781887  2023-05-29         6451824076  IAM925P00XXZPUDIA
1  1095376438463  2023-07-16       664062345899  OTS925P00XXZPUDOT
2  1047641588927  2023-06-17       642133246635  UND925P00XXZCOMUN
3  1181322118257  2023-08-29       714672128644  OTS925A00XXZPUDOT
4  1017492866239  2023-05-30       196440539724  IMO925P00XXZTOMIM
5   480728843265  2023-03-27       226613674572  UDL925P00XXVPUSUD

   unit_price  quantity  price product_family   latitude  longitude  \
0        19.0     153.0  152.0        Pulsera  37.788617  -3.790215
1        19.0     115.0  114.0        Pulsera  40.299542  -3.926774
2        25.0     126.0  125.0         Collar  39.651927  -0.411277
3        19.0      77.0   76.0        Pulsera  39.456511  -0.346203
4        25.0      76.0   75.0      Tobillera  37.394171  -5.957857
5        25.0      76.0   75.0        Pulsera  38.984944  -3.927849

   unit_cost   total_cost
0  28.063996  4293.791329
1  36.676974  4217.852045
2  35.345160  4453.490213
3  25.492610  1962.930974
4  26.755547  2033.421597
5   8.647525   657.211918

In [9]:
# Modificar tipo de datos
data["quantity"] = data["quantity"].astype("float")
print(f'Quantity como float:\n{data["quantity"]}\n')

# Modificar datos
data["quantity"] = 1
print(f'Quantity como 1:\n{data["quantity"]}\n')

# Modificar datos con operaciones con otras columnas
data["quantity"] = data["quantity"] + data["price"]
print(f'Quantity como resultado de otras columnas:\n{data["quantity"]}')


## Ejercicio: Añadir coste unitario y coste total para cada transaccion con valores aleatorios

# Generar valores aleatorios mayores que 0 (float)
data["unit_cost"] = np.random.uniform(0.01, 50.0, size=len(data))
print(f'Coste unitario:\n{data["unit_cost"]}\n')

# Calcular 'total_cost'
data["total_cost"] = data["unit_cost"] * data["quantity"]
print(f'Coste total:\n{data["total_cost"]}')

Quantity como float:
0       153.00
1       115.00
2       126.00
3        77.00
4        76.00
         ...
2995     30.95
2996     26.00
2997     30.00
2998     22.75
2999     22.75
Name: quantity, Length: 3000, dtype: float64

Quantity como 1:
0       1
1       1
2       1
3       1
4       1
       ..
2995    1
2996    1
2997    1
2998    1
2999    1
Name: quantity, Length: 3000, dtype: int64

Quantity como resultado de otras columnas:
0       153.00
1       115.00
2       126.00
3        77.00
4        76.00
         ...
2995     30.95
2996     26.00
2997     30.00
2998     22.75
2999     22.75
Name: quantity, Length: 3000, dtype: float64
Coste unitario:
0       31.441875
1       37.823319
2        9.175650
3       31.212579
4       12.085661
          ...
2995    24.590572
2996    48.967370
2997     5.674932
2998    49.424197
2999    30.664922
Name: unit_cost, Length: 3000, dtype: float64

Coste total:
0       4810.606837
1       4349.681716
2       1156.131883
3       2403.368577
4        918.510252
           ...
2995     761.078197
2996    1273.151627
2997     170.247965
2998    1124.400487
2999     697.626985
Name: total_cost, Length: 3000, dtype: float64

In [10]:

data.loc[1, "unit_price"] = np.nan

# Detectar valores nulos
print(data.isnull().sum(axis = 0))



# Remplazar nulos por un valor
print(data.fillna(0))


# Eliminar registros con algun valor nulo
# print(data.dropna())

order_id             0
fecha                0
order_customer_id    0
product_id           0
unit_price           1
quantity             0
price                0
product_family       0
latitude             0
longitude            0
dtype: int64
           order_id       fecha  order_customer_id         product_id  \
0     1016330781887  2023-05-29         6451824076  IAM925P00XXZPUDIA
1     1095376438463  2023-07-16       664062345899  OTS925P00XXZPUDOT
2     1047641588927  2023-06-17       642133246635  UND925P00XXZCOMUN
3     1181322118257  2023-08-29       714672128644  OTS925A00XXZPUDOT
4     1017492866239  2023-05-30       196440539724  IMO925P00XXZTOMIM
...             ...         ...                ...                ...
2995  1194025288817  2023-09-04       719590867588  IST925P00XXZPUSIS
2996  1187671966833  2023-09-01       719629009540  UND925P00XXZCOMUN
2997  1187874473073  2023-09-01       719731344004  OSE925R00XXZCOMOS
2998  1187874473073  2023-09-01       719731344004  HDI925R00XXZPEAHD
2999  1187874473073  2023-09-01       719731344004  REE925P00XXZTOFRE

      unit_price  quantity   price product_family   latitude  longitude
0          19.00    153.00  152.00        Pulsera  37.788617  -3.790215
1           0.00    115.00  114.00        Pulsera  40.299542  -3.926774
2          25.00    126.00  125.00         Collar  39.651927  -0.411277
3          19.00     77.00   76.00        Pulsera  39.456511  -0.346203
4          25.00     76.00   75.00      Tobillera  37.394171  -5.957857
...          ...       ...     ...            ...        ...        ...
2995       29.95     30.95   29.95        Pulsera  40.405862  -3.894836
2996       25.00     26.00   25.00         Collar  40.549157  -3.653147
2997       29.00     30.00   29.00         Collar  43.341313  -2.989285
2998       21.75     22.75   21.75     Pendientes  43.341313  -2.989285
2999       21.75     22.75   21.75      Tobillera  43.341313  -2.989285

[3000 rows x 10 columns]

In [11]:
# Agregaciones
# Veremos la media de la variable price
data["price"].mean()

# Veremos cuantos productos ha comprado cada cliente
# data.groupby("order_customer_id")["quantity"].agg("sum")

# Veremos cuantos productos ha comprado y cuanto dinero ha gastado como mucho en un producto cada cliente
# data.groupby("order_customer_id", as_index = False).agg({"quantity":"sum", "price": "max"})

## Ejercicio: ¿Como podemos ver cuanto han gastado como maximo en un pedido cada cliente?

      order_customer_id  quantity  price
0            4438242304    134.95  29.95
1            4438303040     56.00  29.00
2            4438358016     26.00  25.00
3            4438388032     72.00  25.00
4            4438411456     78.00  25.00
...                 ...       ...    ...
1309       719475556996     78.00  25.00
1310       719567733380     41.25  25.00
1311       719590867588     30.95  29.95
1312       719629009540     26.00  25.00
1313       719731344004     75.50  29.00

[1314 rows x 3 columns]

In [14]:
# Aplicar funciones a lo largo de un dataframe
data["unit_margen"] = data[["unit_price", "unit_cost"]].apply(np.sum, axis=0)


# Aplicar una funcion más compleja con apply
# def calcular_unit_margen(fila):
#     return fila["unit_price"] + fila["unit_cost"]

# data.apply(calcular_unit_margen, axis=1)


# # Aplicar funcion con apply y lambda
# data.apply(lambda fila: fila["unit_price"] + fila["unit_cost"], axis = 1)

0       20.00
1         NaN
2       26.00
3       20.00
4       26.00
        ...
2995    30.95
2996    26.00
2997    30.00
2998    22.75
2999    22.75
Length: 3000, dtype: float64

In [15]:
## Ejercicio: Separar los datos en distintos dataframes

# Solo me interesa la informacion a nivel de order
data_orders = data[['fecha', 'order_customer_id', 'order_id', 'latitude', 'longitude']]
# Me quedo con las orders, sin duplicidades
data_orders = data_orders.drop_duplicates()
data_orders

# Solo me interesa la informacion dentro de la order con la posibilidad de enlazar con la informacion de la order
data_orders_lineitems = data[['order_id','product_id', 'unit_price', 'quantity', 'price', 'product_family', "unit_cost" ]]
data_orders_lineitems

,order_id,product_id,unit_price,quantity,price,product_family,unit_cost
0,1016330781887,IAM925P00XXZPUDIA,19.00,153.00,152.00,Pulsera,1
1,1095376438463,OTS925P00XXZPUDOT,NaN,115.00,114.00,Pulsera,1
2,1047641588927,UND925P00XXZCOMUN,25.00,126.00,125.00,Collar,1
3,1181322118257,OTS925A00XXZPUDOT,19.00,77.00,76.00,Pulsera,1
4,1017492866239,IMO925P00XXZTOMIM,25.00,76.00,75.00,Tobillera,1
...,...,...,...,...,...,...,...
2995,1194025288817,IST925P00XXZPUSIS,29.95,30.95,29.95,Pulsera,1
2996,1187671966833,UND925P00XXZCOMUN,25.00,26.00,25.00,Collar,1
2997,1187874473073,OSE925R00XXZCOMOS,29.00,30.00,29.00,Collar,1
2998,1187874473073,HDI925R00XXZPEAHD,21.75,22.75,21.75,Pendientes,1
2999,1187874473073,REE925P00XXZTOFRE,21.75,22.75,21.75,Tobillera,1

![Union de dataframes](https://pbs.twimg.com/media/FTdBR8SUYAE5myD.jpg)

In [16]:
## Juntar dataframes

# Concat
data_otras_orders = data_orders.head(10)
pd.concat([data_orders, data_otras_orders], axis = 0)

# Merge
pd.merge(data_orders, data_orders_lineitems, on = "order_id")

,fecha,order_customer_id,order_id,latitude,longitude,product_id,unit_price,quantity,price,product_family,unit_cost
0,2023-05-29,6451824076,1016330781887,37.788617,-3.790215,IAM925P00XXZPUDIA,19.00,153.00,152.00,Pulsera,1
1,2023-07-16,664062345899,1095376438463,40.299542,-3.926774,OTS925P00XXZPUDOT,NaN,115.00,114.00,Pulsera,1
2,2023-07-16,664062345899,1095376438463,40.299542,-3.926774,OTS925P00XXZPUDOT,19.00,58.00,57.00,Pulsera,1
3,2023-06-17,642133246635,1047641588927,39.651927,-0.411277,UND925P00XXZCOMUN,25.00,126.00,125.00,Collar,1
4,2023-08-29,714672128644,1181322118257,39.456511,-0.346203,OTS925A00XXZPUDOT,19.00,77.00,76.00,Pulsera,1
...,...,...,...,...,...,...,...,...,...,...,...
2995,2023-09-04,719590867588,1194025288817,40.405862,-3.894836,IST925P00XXZPUSIS,29.95,30.95,29.95,Pulsera,1
2996,2023-09-01,719629009540,1187671966833,40.549157,-3.653147,UND925P00XXZCOMUN,25.00,26.00,25.00,Collar,1
2997,2023-09-01,719731344004,1187874473073,43.341313,-2.989285,OSE925R00XXZCOMOS,29.00,30.00,29.00,Collar,1
2998,2023-09-01,719731344004,1187874473073,43.341313,-2.989285,HDI925R00XXZPEAHD,21.75,22.75,21.75,Pendientes,1
2999,2023-09-01,719731344004,1187874473073,43.341313,-2.989285,REE925P00XXZTOFRE,21.75,22.75,21.75,Tobillera,1

In [ ]:
## Ejercicio: Podemos tener algun problema si consultamos informacion en distintos niveles?
# Calcular el importe total de cada pedido
# Calcular la media de importes que ha gastado cada cliente a nivel de order y el precio medio de los productos que ha comprado

In [ ]:

# ¿Que ocurre si perdemos informacion?
data_orders_lineitems = data_orders_lineitems.head(20)
data_orders = data_orders.head(1000)


# how {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’
pd.merge(data_orders, data_orders_lineitems, on = "order_id")

,fecha,order_customer_id,order_id,latitude,longitude,product_id,unit_price,quantity,price,product_family,unit_cost
0,2023-05-29,6451824076,1016330781887,37.788617,-3.790215,IAM925P00XXZPUDIA,19.0,8,152.0,Pulsera,-7
1,2023-07-16,664062345899,1095376438463,40.299542,-3.926774,OTS925P00XXZPUDOT,NaN,6,114.0,Pulsera,-7
2,2023-07-16,664062345899,1095376438463,40.299542,-3.926774,OTS925P00XXZPUDOT,19.0,3,57.0,Pulsera,-7
3,2023-06-17,642133246635,1047641588927,39.651927,-0.411277,UND925P00XXZCOMUN,25.0,5,125.0,Collar,-7
4,2023-08-29,714672128644,1181322118257,39.456511,-0.346203,OTS925A00XXZPUDOT,19.0,4,76.0,Pulsera,-7
5,2023-05-30,196440539724,1017492866239,37.394171,-5.957857,IMO925P00XXZTOMIM,25.0,3,75.0,Tobillera,-7
6,2023-03-27,226613674572,480728843265,38.984944,-3.927849,UDL925P00XXVPUSUD,25.0,3,75.0,Pulsera,-7
7,2023-03-10,244904182348,457358836737,40.604510,-4.339488,UND925P00XXZCOMUN,25.0,3,75.0,Collar,-7
8,2023-05-21,621451002539,1001207956671,40.804126,0.516218,OTS925P00XXZTODOT,19.0,3,57.0,Tobillera,-7
9,2023-06-23,647359906475,1057963181247,41.361692,2.129037,UND925P00XXZCOMUN,25.0,3,75.0,Collar,-7
10,2023-07-19,664062345899,1098757047487,40.299542,-3.926774,OTS925P00XXZPUDOT,19.0,3,57.0,Pulsera,-7
11,2023-06-18,4596080972,1048783094975,39.546334,-0.345283,UND925P00XXZCOMUN,25.0,2,50.0,Collar,-7
12,2023-07-12,6075002444,1088070747327,39.511688,-0.432570,ERF925P00XXZPUNER,29.0,2,58.0,Pulsera,-7
13,2023-05-31,6389023436,1018672252095,39.468961,-0.371755,UND925P00XXZCOMUN,25.0,2,50.0,Collar,-7
14,2023-03-26,6451824076,479568004097,37.788617,-3.790215,IMO925P00XXZCODIM,29.0,2,58.0,Collar,-7
15,2023-03-19,6533530060,470584919041,39.462614,-0.353655,REE925P00XXZCOFRE,25.0,2,50.0,Collar,-7
16,2023-03-19,6533530060,470584919041,39.462614,-0.353655,IMO925A00XXZCODIM,35.0,2,70.0,Collar,-7
17,2023-07-04,6895645900,1074997953727,37.628233,-0.925657,IST925P00XXZTOSIS,25.0,2,50.0,Tobillera,-7
18,2023-03-18,7012581324,468983350273,40.416788,-3.676739,NFI925R00XXZCOINF,25.0,2,50.0,Collar,-7
19,2023-03-18,7012581324,468983350273,40.416788,-3.676739,UND925P00XXZCOMUN,25.0,2,50.0,Collar,-7

In [ ]:
## Otra forma de juntar datos

columns_of_orders = ['fecha', 'order_customer_id', 'order_id', 'latitude', 'longitude']
column_of_order_lineitems = ['product_id', 'unit_price', 'quantity', 'price', 'product_family', "unit_cost"]
data_con_lineitems_nested = data.groupby(columns_of_orders, as_index = False).apply(lambda x: pd.Series({"lineitems":x[column_of_order_lineitems].to_dict(orient='records')}))
data_con_lineitems_nested

C:\Users\34634\AppData\Local\Temp\ipykernel_24320\662565639.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data_con_lineitems_nested = data.groupby(columns_of_orders, as_index = False).apply(lambda x: pd.Series({"lineitems":x[column_of_order_lineitems].to_dict(orient='records')}))

In [ ]:
# Pivot: Calculando importe por familia
data_daily = data.groupby(["fecha", "product_family"], as_index = False)["price"].agg("sum")
data_pivot = data_daily.pivot(index='fecha', columns='product_family', values='price')
data_pivot

# Unstack: Calculando importe por familia
# data_daily = data.groupby(["fecha", "product_family"], as_index = True)["price"].agg("sum")
# data_unstacked = data_daily.unstack(level='product_family')
# data_unstacked


# Deshacemos el pivot
# df_melted = data_pivot.reset_index().melt(id_vars='fecha', var_name='product_family', value_name='price')
# df_melted

           fecha product_family  price
0     2023-03-03         Anillo   88.0
1     2023-03-04         Anillo   25.0
2     2023-03-05         Anillo   25.0
3     2023-03-06         Anillo  244.0
4     2023-03-07         Anillo  119.0
...          ...            ...    ...
1060  2023-09-28      Tobillera    NaN
1061  2023-09-29      Tobillera    NaN
1062  2023-10-01      Tobillera    NaN
1063  2023-10-02      Tobillera    NaN
1064  2023-10-03      Tobillera    NaN

[1065 rows x 3 columns]

In [ ]:
## Guardamos los datos
data.to_csv("material/datos_procesados.csv")
data.head(10).to_json("material/datos_procesados_por_filas.json", orient = "records")
data_con_lineitems_nested.head(10).to_json("material/datos_procesados_por_filas_nesteado.json", orient = "records")